<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.revolt.basic">

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="28" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".intruksi"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".changepassword"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".cas"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".setup"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".about"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".list"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".login"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".header"
            android:screenOrientation="portrait"/>
    </application>

</manifest>